<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Habit</title>
    <link rel="stylesheet" href="/css/new_habit.css">
</head>
<body>
    <h1>Edit Habit</h1>
    <!-- Display form to edit the habit -->
    <div class="form-container">
        <form action="/update-habit/<%= habit._id %>" method="POST">
            <!-- Title input -->
            <label for="title" class="textboxname label-text">Title:</label>
            <input type="text" id="title" name="title" value="<%= habit.title ? habit.title : '' %>" required><br>

            <!-- Description input -->
            <label for="description" class="textboxname label-text">Description:</label>
            <input type="text" id="description" name="description" value="<%= habit.description ? habit.description : '' %>" required><br>

            <!-- Container for days and time inputs -->
            <div class="day-time-container habit-schedule-grid">
                <% ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'].forEach(day => { %>
                    <div class="day-group">
                        <!-- Checkbox for <%= day %> -->
                        <input type="checkbox" id="check<%= day %>" name="check<%= day %>" class="sun-check" <%= habit.days && habit.days.includes(day) ? 'checked' : '' %>>
                        <!-- Assigning a class to the label for <%= day %> -->
                        <label for="check<%= day %>" class="day-text sun-text"><%= day %></label>
                        <!-- Time input for <%= day %> -->
                        <input type="time" id="time<%= day %>" name="time<%= day %>" class="sun-time" value="<%= habit.days && habit.days.includes(day) && habit.times ? habit.times[habit.days.indexOf(day)] : '' %>">
                    </div>
                <% }); %>
            </div>

            <!-- Submit button -->
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </div>
</body>
</html>
