<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Journal Entry</title>
<link rel="stylesheet" href="/css/habit.css">


</head>
<body>

<h1>view entry.</h1>

<div class="entry">
  <h2><%= journalEntry.title %></h2>
  <p><%= journalEntry.date %></p>
  <p><%= journalEntry.time %></p>
  <p><%= journalEntry.entry %></p>
</div>

<!-- Button to delete this journal entry -->
<form action="/delete-journal/<%= journalEntry._id %>" method="post">
  <button type="submit">delete</button>
</form>

<!-- Button to return to the journal page -->
<form action="/journal" method="get">
  <button type="submit">back</button>
</form>

<!-- Button to return to the habits homepage -->
<form action="/" method="get">
  <button type="submit">habits</button>
</form>


</body>
</html>
