<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>journal.</title>
</head>
<body>

<h1>journal.</h1>

<div id="journal-entries">
  <% journalEntries.forEach(function(entry) { %>
    <div class="journal-entry">
      <div class="entry-info">
        <strong>Title:</strong> <%= entry.title %>
      </div>
      <div class="entry-info">
        <strong>Date:</strong> <%= entry.date %>
      </div>
      <div class="entry-info">
        <strong>Time:</strong> <%= entry.time %>
      </div>
      <div class="btn-group">
        <!-- Edit button -->
        <a href="/edit-journal/<%= entry._id %>" class="edit-button"><button>edit</button></a>
        <!-- Delete button -->
        <form action="/delete-journal/<%= entry._id %>" method="POST">
          <button type="submit">delete</button>
        </form>
        <!-- View button -->
        <a href="/journal_show/<%= entry._id %>" class="view-button"><button>view</button></a>
      </div>
    </div>
  <% }); %>
</div>

<!-- Button to add a journal entry -->
<a href="/new_journal" class="add-button"><button>add entry</button></a>

<!-- Add a button to go back to the homepage -->
<a href="/">home</a>

</body>
</html>
